@media (max-width: 1120px) {}

@media (max-width: 992px) {


    .top_container {
        height: auto;
    }

    .top_container.sub_pages {
        height: auto;
    }

    .top_container.sub_pages::before {
        background-size: cover;
    }

   

    .hero-container {
        flex-direction: column;
    }

    .hero_detail-box {
        width: 100%;
        margin-bottom: 45px;
    }

    .hero_img-container {
        width: 100%;
    }

    .top_container::before {
        width: 200%;

    }

    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link,
    .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {

        color: #fff;
    }

    .custom_nav-container .nav_search-btn {
        background-image: url(../images/search-icon-mobile.png);
        background-position: center;
    }
}

@media (max-width: 820px) {
    .admission_container {
        width: 450px;
        flex-direction: column;
    }

    .admission_img-box,
    .admission_detail {
        width: 100%;
    }

    .admission_img-box {
        border-radius: 25px 25px 0 0
    }

    .admission_detail {
        border-radius: 0 0 25px 25px;
    }
}

@media (max-width: 768px) {


    .hero_detail-box {
        text-align: center;
    }



}



    .contact_section {
        background-image: none;
    }
}

@media (max-width: 480px) {
   

    .admission_container {

        width: 300px;
    }

   
}



@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}